body {
  text-align: center;
}

h2 {
  margin-left: 5%;
}

img {
  height: 400px;
  width: 400px;
  margin-top: 10%;
}

p {
  margin-left: 5%;
  margin-right: 5%;
}

.container {
  overflow-x: hidden;
}

.card {
  /* background-color: green; */
  height: 500px;
  text-align: left;
}
