body {
  text-align: center;
}

img {
  height: 400px;
  width: 400px;
  margin-top: 10%;
}

button {
  margin-top: 10%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: green;
  height: 500px;
  width: 400px;
  text-align: left;
}
